{% extends 'home.html' %}

{% block content %}

<div class="jumbotron">

		<form class="form-inline" action="/share" method="POST">
			
			<div class="form-group mx-sm-3 mb-2">
				<input type="text" class="form-control" name="message" placeholder="Your message..." required>
			</div>

			<button type="submit" class="btn btn-primary mb-2">Share</button>
		</form>
		


	<div class="jumbotron">
	<h2>Common dashboard:</h2>
		{% if posts %}
		{% for post in posts %}
		
		<div class="jumbotron">
			
			<fieldset>
				<legend>Author: {{ post['name'] }}</legend>
				<p>{{ post['message'] }}</p>
				<p><em>Published on: {{ post['timestamp'] }}</em></p>
			</fieldset>

		</div>
		{% endfor %}
		{% else %}
		<p><em>Noting posted yet...</em></p>
		{% endif %}

	</div>
	
	

</div>

{% endblock %}